@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dadde2;
  --foreground: #171717;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
  /* height: 12px; */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  /* cursor: pointer */
}

/* Scrollbar corner (for both vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
